* {
	padding: 0px;
	margin: 0px;
	border: border-box;
}
.BlcLine {
	background-color: black;
	height: 50px;
}
.MAINER {
	height: 1000px;
	background-color: white;
}
.Forbius {
	
	
	padding-top: 15px;	
}
.a, .b, .c, .d, .e{
	text-decoration: none;
	color: pink;
	padding: 45px;
	text-align: left;
}

.lik, .authr {
	text-decoration: none;
	color: pink;
	float: right;
	padding-right: 100px;
	
}
.btn1 {
	margin-left: 150px;
	width: 150px;
  height: 120px;
  border: none;
  background-image: url('https://png.klev.club/uploads/posts/2024-04/png-klev-club-0g3m-p-avito-png-1.png');
  background-size: cover;
}
.btn1:hover {
  opacity: 0.8;
}

.btn1:active {
  transform: scale(0.95);
}
.FOOTER {
	background-color: gray;
	height: 300px;
	text-align: left;
}

